<header>
  <a href="https://nest.garmentsans.com" class="site-title">the nest</a>

  <button class="hamburger" onclick="toggleMenu()">☰</button>
  <nav class="page-nav">
    <a href="https://garmentsans.com">garment sans</a>
    <a
      href="https://thenestco.notion.site/15cd1bf5efea80dcb3a9f80922ef9825?v=15cd1bf5efea8097bf17000ce2bdf85a&pvs=73"
      >pottery</a
    >
    <a href="https://film.garmentsans.com">fi.lm.k&auml;ch</a>
    <nav class="sub-page-nav">
      <a href="https://film.garmentsans.com/rates">rates</a>
      <a href="https://filmkach.darkroom.com" target="_blank">prints</a>
    </nav>
    <!-- <a href="https://tattoo.garmentsans.com">NestTattoo</a> -->
    <a href="https://nest.garmentsans.com/about">about</a>
  </nav>

  <script>
    function toggleMenu() {
      const header = document.querySelector("header");
      header.classList.toggle("open");
    }
  </script>
</header>
