<header>
  <a href="https://film.garmentsans.com" class="site-title">fi.lm.k&auml;ch</a>

  <button class="hamburger" onclick="toggleMenu()">☰</button>
  <nav class="page-nav">
    collections
    <nav class="sub-page-nav">
      <a href="./collections/font">garment sans</a>
      <a href="./collections/egg">eggo</a>
      <a href="./collections/homo">fluid</a>
      <a href="./collections/startend">start-end</a>
      <a href="./collections/meow">meow</a>
    </nav>
    <br />
    chronicles
    <nav class="sub-page-nav">
      <a href="./years/2025">2025</a>
      <a href="./years/2024">2024</a>
      <a href="./years/2023">2023</a>
      <a href="./years/2022">2022</a>
      <a href="./years/2021">2021</a>
      <a href="./years/2020">2020</a>
      <a href="./years/2019">2019</a>
    </nav>
    <br />
    commissions
    <nav class="sub-page-nav">
      <a href="./commissions/ropes">ropes</a>
      <a href="./commissions/slip">slip</a>
      <a href="./commissions/tattoo">tattoo</a>
      <a href="./commissions/agdw">ag+dw</a>
    </nav>
    <br />
    <a href="https://film.garmentsans.com/rates">rates</a>
    <!-- <a href="https://filmkach.darkroom.com" target="_blank">prints</a> -->
    <a href="./about">about</a>
  </nav>

  <script>
    function toggleMenu() {
      const header = document.querySelector("header");
      header.classList.toggle("open");
    }
  </script>
</header>
