/* Global reset and box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c2d1c9;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  margin: 1em 1em;
  padding: 10px 20px;
  font-family: apparat, sans-serif;
  font-style: normal;
}

header {
  width: 250px;
  height: 100vh;
  float: left;
  display: inline;
  margin-right: 10px;
  padding: 0;
  position: fixed;
  z-index: 1000;
}
header h1 a,
header h2 a {
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
}
header h1 a:visited,
header h2 a:visited {
  color: #000;
}
header h1 a {
  font-size: xx-large;
}
header h2 a {
  font-size: x-large;
}
header nav {
  list-style-type: none;
  overflow: hidden;
  float: right;
}
header nav a {
  font-size: large;
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  float: right;
  background-color: #c2d1c9;
  border: none;
  height: auto;
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  margin-right: 1em;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #92ab9e;
  min-width: 200px;
  border-radius: 5px;
  z-index: 1;
  top: calc(100% + 50px); /* Position the dropdown content below the button */
  right: 0; /* Align it with the left edge of the button */
}
.dropdown-content a {
  text-decoration: none;
  display: block;
}
.dropdown.show .dropdown-content {
  display: block;
}

main {
  margin-left: 250px;
  flex: 1;
}

h3,
figcaption {
  font-size: x-large;
  font-variant: small-caps;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #777;
}

img,
object {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

footer {
  clear: both;
  padding-top: 25px;
  bottom: 0;
}

.grid-item {
  float: left;
  width: 50%;
}
.grid-item img {
  width: 300px;
  height: 300px;
}

.column {
  float: left;
  width: 33.33%;
}

.left {
  width: 50%;
}

.right {
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}
.flex-container .flex-item {
  margin-right: 20px;
}
.flex-container .flex-item > img {
  width: 350px;
}