/* Global reset and box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #80a190;
  margin: 1em 3em;
  padding: 10px 20px;
  font-family: apparat, sans-serif;
  font-style: normal;
}

header {
  padding: 1em 0;
  height: 100px;
  border-radius: 5px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #80a190;
  /* color: white; */
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #92ab9e;
  min-width: 200px;
  border-radius: 5px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown.show .dropdown-content {
  display: block;
}

header h1 a {
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  font-size: xx-large;
}

header h1 a:visited {
  color: #000;
}

header h2 a {
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  font-size: x-large;
}

header h2 a:visited {
  color: #000;
}

header nav {
  list-style-type: none;
  overflow: hidden;
  width: 50%;
  float: right;
}

header nav a {
  float: right;
  font-size: x-large;
}

header nav a {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

h3,
figcaption {
  font-size: x-large;
  font-variant: small-caps;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #777;
}

img,
object {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

footer {
  clear: both;
  padding-top: 25px;
}
