<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- PAGE_TITLE -->The Nest<!-- /PAGE_TITLE --></title>
    <base href="https://nest.garmentsans.com/">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" type="image/png" href="static/img/favicon.ico">
    <link rel="mask-icon" type="image/png" href="static/img/favicon.ico">
    <script defer src="static/js/w3.js"></script>
</head>
<div w3-include-html="/static/header.html"></div>
<body>
    

    <main>
        <!-- MAIN_CONTENT -->
        <section class="page-intro">
            <p>The home page for nest projects.</p>
        </section>
        
        <nav class="projects-nav">
            <ul>
                <li><a href="https://garmentsans.com">Garment Sans</a></li>
                <li><a href="https://thenestco.notion.site/15cd1bf5efea80dcb3a9f80922ef9825?v=15cd1bf5efea8097bf17000ce2bdf85a&pvs=73">Pottery</a></li>
                <li><a href="https://film.garmentsans.com">Film</a></li>
                <li><a href="https://tattoo.garmentsans.com">NestTattoo</a></li>
            </ul>
        </nav>
        <!-- /MAIN_CONTENT -->
    </main>

    <footer w3-include-html="static/footer.html"></footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            w3.includeHTML();
        });
    </script>
</body>
</html>